body{
	width: 100vw;
	height: 100vh;
}
.main_background{
	background-image: url("../background/main_background.jpg") !important;
	background-size: cover;	
}
.login_background{
	background-image: url("../background/login_background.webp") !important;
	background-size: cover;	
}
.dashboard_background{
	background-image: url("../background/dashboard_background1.jpg") !important;
	background-size: cover;
}
.navbar{
	background-image: url("https://i.pinimg.com/736x/b2/84/63/b28463d2e6a0bebc66add424900fae9a.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.navbar-brand{
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
	font-weight: bold;
	font-size: 40px;

}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }